<template name="about">  
<div class="body">
</div> 
<div class="mission">
<center><h4><b>Our Mission</b></h4><br></center>
<p>We started dealer desk with the objective to infuse technology with solid processes and procedures. Our goal is to help increase your dealership's effectiveness to provide your guests with an unprecedented customer service experience. Our products are designed and developed by professionals with dealership experience.</p><br>
<br>
<br>
<center><h4><b>Our Vision</b></h4><br></center>
<p> The purpose of our applications are to help your team improve efficiency, enhance accountability, and maintain streamline processes.</p>
<br>
<br>
<center><h4><b>Why Us?</b></h4><br></center>
<p>Created by people with dealership experience. We are qualified to develop effective applications and will continue to add new features and improvements.</p>

<p>Still on the fence? Try our services for free for 1 month. </p>
</div>
{{> footer}}
	</template>