<template name ="follow">
<div class="follow" style="text-align: center;">
<img src="images/facebook-64.png" alt="Facebook" style="margin:10px 60px 0 0;">
<img src="images/twitter-64.png" alt="Twitter" style="margin:10px 70px 0 0;">
<img src="images/googleplus-64.png" alt="Google Plus" style="margin:10px 80px 0 0;">
<img src="images/instagram-64.png" alt="Instagram" style="margin:10px 90px 0 0;">
<img src="images/youtube-64.png" alt="YouTube" style="margin:10px 100px 0 0;">
<img src="images/linkedin-64.png" alt="Linkedin" style="margin:10px 110px 0 0;">
</div>
</template>