<template name ="shuttlelog">
<div class="shuttlelog">
<img src="images/shuttle.png" alt="Shuttle" style="float:right; margin:40px 40px 0 0;">
<h2>Need help <strong>coordinating</strong> shuttle requests?</h2>
<h4>Our shuttle Log helps coordinate your shuttle requests with real time updates</h4>
<br>
<ul>
  <li>Submit shuttle requests requests in real time</li>
  <li>Drivers can manage routes from mobile device</li>
  <li>Allows service staff to know which drivers are on the road</li>
  <li>Empowers managers to track time</li>
</ul>
<center><p>This is all bullshit </p></center>
</div> 
</template>