<template name ="vehiclestatus">
<div class="vehiclestatus">
<img src="images/Service_Lane01.jpg" alt="Service Lane" height="380" width="620" style="float:right; margin:100px 60px 0 0;">
<h2>Service Drive a mess?</h2>
<h4>Service Delivery Kit helps you manage your service drive and stay informed on your work flow.</h4>
<br>
<ul>
  <li>Submit vehicle delivery requests in real time</li>
  <li>Keep track of Washes</li>
  <li>View service delivery history for reporting and accountability</li>
  <li>Stay informed with the Dealer Desk counter bar</li>
</ul>
<br>
<br>
<center><p>Service Delivery Kit helps improve customer service experiences by reducing wait times. It starts with clear and effective communication. Vehicles are called up by submitting an easy to use form that gives your staff sufficient information to be successfully deliver customer's vehicles quickly. Each request is timestamped with a request and completion time holding your staff accountable and creating urgency.   </p></center>
</div> 
</template>