<template name="shuttle">
   <!-- Modal Templates -->
   {{> updateShuttleDialog}} 
   {{> updateShuttleDialogAdvisor}} 
   {{> newShuttleDialog}}

    <style>
      tr:nth-of-type(even) {
      background-color:#F0F0F0;
    }
    </style>

   
   <!-- Begin Content -->
   <div class="col-md-12">
      <!--Basic Table-->
      <div class="panel panel-dark-blue margin-bottom-40">
         <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-bus"></i>Shuttle Log</h3> {{#if isCreateUser}}
            <button id="btnNewShuttle" class="btn btn-default btn-sm newShuttle">New Shuttle</button>
            {{/if}}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm">{{shuttleDirection}}</button>
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-sort"></i>
                            <span class="sr-only">Toggle Dropdown</span>                            
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a value="Pick Up">Pick Up</a></li>
                            <li><a value="Drop Off">Drop Off</a></li>
                        </ul>
                    </div>
         </div>
         <table class="table table-bordered">
            <thead>
               <tr>
                  <th>Timestamp</th>
                  <th>Time Requested</th>
                  <th>Customer Name</th>
                  <th>Phone Number</th>
                  <th>Address</th>
                  <th>Driver</th>
                  <th>Notes</th>
                  <th>Username</th>
                  <th>Status</th>
                  <th>Time Out</th>
                  <th>Time In</th>
                  <th>Update</th>
               </tr>
            </thead>
            <tbody>
               {{#each shuttle}}
               <tr class={{statusClass status}}>
                  <td>{{timeParse timestamp}}</td>
                  <td>{{time}}</td>
                  <td>{{name}}</td>
                  <td>{{number}}</td>
                  <td>{{address}}</td>
                  <td>{{driver}}</td>
                  <td>{{notes}}</td>
                  <td>{{username}}</td>
                  <td>{{status}}</td>
                  <td>{{timeout}}</td>
                  <td>{{timein}}</td>
                  <td><a id="updateShuttle" class="btn btn-primary updateShuttle">Update</a>
                  </td>
               </tr>
               {{/each}}
            </tbody>
         </table>
      </div>
      <!--End Basic Table-->
   </div>
</template>

<template name="newShuttleDialog">
    <div class="modal fade" id="newShuttleDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="myModalLabel" class="modal-title"><i class="fa fa-bus"></i> New Shuttle</h4>
                </div>
            <form id="newBody">
               <div class="modal-body">
                  {{> timeselect}}
                  <br>
						<div class="form-group form-group-sm">
							<label class="col-sm-4 control-label" for="name">Customer Name</label>
                     	<div class="col-sm-8">
                     	<input class="form-control" type="text" id="name" placeholder="Name">
                     	</div>
                  </div>   	
                  <br>
                  <div class="form-group form-group-sm">
							<label class="col-sm-4 control-label" for="number">Customer Number</label>
                     	<div class="col-sm-8">
                     	<input class="form-control" type="text" id="number" placeholder="Number">
                     	</div>
                  </div>   	
                  <br>
                  <div class="form-group form-group-sm">
							<label class="col-sm-4 control-label" for="address">Customer Address</label>
                     	<div class="col-sm-8">
                     	<input class="form-control" type="text" id="address" placeholder="Address">
                     	</div>
                  </div>
                  <br>
                    <div class="form-group form-group-sm">
							<label class="col-sm-4 control-label" for="notes">Notes</label>
                     	<div class="col-sm-8">
                     	<input class="form-control" type="text" id="notes" placeholder="Notes">
                     	</div>
                  </div>   	
                  <br>
                  <div class="form-group form-group-sm">
                  	<label class="col-sm-4 control-label" for="direction">Direction</label>
                     <div class="col-sm-8">
                     	<select id="direction" class="form-control">
                        	<option></option>
                     		<option {{selected direction "pickup"}}>Pick Up</option>
                     		<option {{selected direction "dropoff"}}>Drop Off</option>
                        </select>
                      </div>
                  </div> 
                  <br>
               </div>
            </form>
            <div class="modal-footer">
               <a href="#" class="btn cancel">Cancel</a>
               <a href="#" class="btn btn-primary save">Save Shuttle</a>
            </div>
         </div>
      </div>
   </div>
</template>

<template name="updateShuttleDialog">
    <div class="modal fade" id="updateShuttleDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="myModalLabel" class="modal-title"><i class="fa fa-bus"></i> Update Shuttle</h4>
                </div>
            <div class="modal-body">
               {{#with getShuttleID}}
                        <div class="form-group form-group-sm">
                            <label class="col-sm-4 control-label" for="time">Time Requested</label>
                            <div class="col-sm-8" id="time">
                                {{time}}
                            </div>
                        </div>
                        <br>
                        <div class="form-group form-group-sm">
                            <label class="col-sm-4 control-label" for="name">Customer Name</label>
                            <div class="col-sm-8" id="name">
                                {{name}}
                            </div>
                        </div>
                        <br>
								<div class="form-group form-group-sm">
                            <label class="col-sm-4 control-label" for="number">Customer Number</label>
                            <div class="col-sm-8" id="number">
                                {{number}}
                            </div>
                        </div>
                        <br>
                        <div class="form-group form-group-sm">
                            <label class="col-sm-4 control-label" for="address">Customer Address</label>
                            <div class="col-sm-8" id="address">
                                {{address}}
                            </div>
                        </div>
                        <br>
                         <div class="form-group form-group-sm">
                            <label class="col-sm-4 control-label" for="notes">Notes</label>
                            <div class="col-sm-8" id="notes">
                                {{notes}}
                            </div>
                        </div>
                        <br>
						<div class="form-group form-group-sm">
                  	<label class="col-sm-4 control-label" for="driver">Driver</label>
                     <div class="col-sm-8">
                     	<select id="driver" class="form-control">
                        	<option></option>
                  			{{#with company}} {{#each company.drivers}}
                  			<option {{selected getShuttleID.driver this }}>{{this}}</option>
                  			{{/each}} {{/with}}
                        </select>
                      </div>
                  </div> 
                  <br>
                  <div class="form-group form-group-sm">
                  	<label class="col-sm-4 control-label" for="status">Status</label>
                     <div class="col-sm-8">
                     	<select id="status" class="form-control">
                        	<option></option>
                     		<option {{selected status "Confirmed"}}>Confirmed</option>
                  			<option {{selected status "En Route"}}>En Route</option>
                  			<option {{selected status "Completed"}}>Completed</option>
                        </select>
                      </div>
                  </div> 
                  <br>
                        <div class="form-group form-group-sm">
                            <label class="col-sm-4 control-label" for="timeout">Time out</label>
                            <div class="col-sm-8">
                            <input class="form-control" type="text" id="timeout" placeholder="Time out" value={{timeout}}>                                
                            </div>
                        </div>
								<br>
                        <div class="form-group form-group-sm">
                            <label class="col-sm-4 control-label" for="timein">Time In</label>
                            <div class="col-sm-8">
                            <input class="form-control" type="text" id="timein" placeholder="Time In" value={{timein}}>
                                
                            </div>
                        </div>
								<br>
								{{/with}}
            </div>
            <div class="modal-footer">
               <a href="#" class="btn cancel">Cancel</a>
               <a href="#" class="btn btn-primary save">Update Shuttle</a>
            </div>
         </div>
      </div>
   </div>
</template>

<template name="updateShuttleDialogAdvisor">
    <div class="modal fade" id="updateShuttleDialogAdvisor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="myModalLabel" class="modal-title"><i class="fa fa-bus"></i> Update Shuttle</h4>
                </div>
            <div class="modal-body">
               {{#with getShuttleID}}
               <h3>Shuttle</h3> 
               {{#each timesplit}}
               {{>timeselect}}
               {{/each}}
                  <br>
						<div class="form-group form-group-sm">
							<label class="col-sm-4 control-label" for="nameAdvisor">Customer Name</label>
                     	<div class="col-sm-8">
                     	<input class="form-control" type="text" id="nameAdvisor" placeholder="Name" value={{name}}>
                     	</div>
                  </div>   	
                  <br>
                  <div class="form-group form-group-sm">
							<label class="col-sm-4 control-label" for="numberAdvisor">Customer Number</label>
                     	<div class="col-sm-8">
                     	<input class="form-control" type="text" id="numberAdvisor" placeholder="Number" value={{number}}>
                     	</div>
                  </div>   	
                  <br>
                  <div class="form-group form-group-sm">
							<label class="col-sm-4 control-label" for="addressAdvisor">Customer Address</label>
                     	<div class="col-sm-8">
                     	<input class="form-control" type="text" id="addressAdvisor" placeholder="Address" value={{address}}>
                     	</div>
                  </div>
                  <br>
                     <div class="form-group form-group-sm">
							<label class="col-sm-4 control-label" for="notesAdvisor">Notes</label>
                     	<div class="col-sm-8">
                     	<input class="form-control" type="text" id="notesAdvisor" placeholder="Notes" value={{notes}}>
                     	</div>
                  </div>
                  <br>
						<div class="form-group form-group-sm">
                  	<label class="col-sm-4 control-label" for="directionAdvisor">Direction</label>
                     <div class="col-sm-8">
                     	<select id="directionAdvisor" class="form-control">
                        	<option></option>
                     		<option {{selected direction "Pick Up"}}>Pick Up</option>
                     		<option {{selected direction "Drop Off"}}>Drop Off</option>
                        </select>
                      </div>
                  </div> 
               <br> 
               	<div class="form-group form-group-sm">
                  	<label class="col-sm-4 control-label" for="driverAdvisor">Driver</label>
                     <div class="col-sm-8">
                     	<select id="driverAdvisor" class="form-control">
                        	<option></option>
                  			{{#with company}} {{#each company.drivers}}
                  			<option {{selected getShuttleID.driver this }}>{{this}}</option>
                  			{{/each}} {{/with}}
                        </select>
                      </div>
                  </div> 
               <br>
               <div class="form-group form-group-sm">
                  	<label class="col-sm-4 control-label" for="statusAdvisor">Status</label>
                     <div class="col-sm-8">
                     	<select id="statusAdvisor" class="form-control">
                        	<option></option>
                     		<option {{selected status "Confirmed"}}>Confirmed</option>
                  			<option {{selected status "En Route"}}>En Route</option>
                  			<option {{selected status "Completed"}}>Completed</option>
                        </select>
                      </div>
                </div> 
               <br>
               <div class="form-group form-group-sm">
                            <label class="col-sm-4 control-label" for="timeoutAdvisor">Time out</label>
                            <div class="col-sm-8" >
                            <input class="form-control" type="text" id="timeoutAdvisor" placeholder="Time out" value={{timeout}}>                                
                            </div>
                        </div>
								<br>
                        <div class="form-group form-group-sm">
                            <label class="col-sm-4 control-label" for="timeinAdvisor">Time In</label>
                            <div class="col-sm-8" >
                            <input class="form-control" type="text" id="timeinAdvisor" placeholder="Time In" value={{timein}}>
                                
                            </div>
                        </div>
								<br>
								{{/with}}
            </div>
            <div class="modal-footer">
               <a href="#" class="btn cancel">Cancel</a>
               <a href="#" class="btn btn-primary save">Update Shuttle</a>
            </div>
         </div>
      </div>
   </div>
</template>
<template name="timeselect">
	<div class="form-group form-group-sm">
		<label class="col-sm-4 control-label" for="vehicleNew">Time Requested</label>
		<div class="col-sm-2">
			<select id="hour" name="hour" class="form-control">
      		<option {{selected hour "1"}}>1</option>
      		<option {{selected hour "2"}}>2</option>
      		<option {{selected hour "3"}}>3</option>
      		<option {{selected hour "4"}}>4</option>
      		<option {{selected hour "5"}}>5</option>
      		<option {{selected hour "6"}}>6</option>
      		<option {{selected hour "7"}}>7</option>
      		<option {{selected hour "8"}}>8</option>
      		<option {{selected hour "9"}}>9</option>
      		<option {{selected hour "10"}}>10</option>
      		<option {{selected hour "11"}}>11</option>
      		<option {{selected hour "12"}}>12</option>
   		</select>
   	</div>
	 <div class="col-sm-2">
   	<select id="minute" name="minute" class="form-control">
     	 <option {{selected minute "00"}}>00</option>
      	<option {{selected minute "05"}}>05</option>
      	<option {{selected minute "10"}}>10</option>
      	<option {{selected minute "15"}}>15</option>
      	<option {{selected minute "20"}}>20</option>
      	<option {{selected minute "25"}}>25</option>
      	<option {{selected minute "30"}}>30</option>
      	<option {{selected minute "35"}}>35</option>
      	<option {{selected minute "40"}}>40</option>
      	<option {{selected minute "45"}}>45</option>
      	<option {{selected minute "50"}}>50</option>
      	<option {{selected minute "55"}}>55</option>
   	</select>
   </div>
	<div class="col-sm-2">
   	<select id="ampm" name="ampm" class="form-control">
      	<option {{selected ampm "AM"}}>AM</option>
      	<option {{selected ampm "PM"}}>PM</option>
   	</select>
	</div>
</div>
</template>
