<template name="task">

   {{> updateTaskDialog}} {{> newTaskDialog}}
   <h1>Task Manager</h1> {{#if isCreateUser}}
   <button id="btnNewTask" class="btn btn-primary newTask">New Task</button>
   {{/if}}
   <div class="datagrid">
      <div class="table-responsive">
         <table>
            <thead>
               <tr>
                  <th>Timestamp</th>
                  <th>Time</th>
                  <th>ASM</th>
                  <th>Task</th>
                  <th>Porter</th>
                  <th>Status</th>
                  <th>Additional Notes</th>
                  <th>Username</th>
                  <th>Update</th>
               </tr>
            </thead>
            <tbody>
               {{#each tasks}}
               <tr class={{statusClass status}}>
                  <td>{{timeParse timestamp}}</td>
                  <td>{{time}}</td>
                  <td>{{asm}}</td>
                  <td>{{task}}</td>
                  <td>{{porter}}</td>
                  <td>{{status}}</td>
                  <td>{{notes}}</td>
                  <td>{{username}}</td>
                  <td><a id="updateTask" class="btn btn-primary updateTask">Update Task</a>
                  </td>
               </tr>
               {{/each}}
            </tbody>
         </table>
      </div>
   </div>
</template>

<template name="newTaskDialog">
   <div class="modal" id="newTaskDialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close cancel" data-dismiss="modal">&times;</button>
               <h2>New Task</h2>
            </div>
            <form id="newBody">
               <div class="modal-body">
                  Time:
                  <input type="text" id="time" placeholder="Time" />
                  <br> ASM:
                  <select id="asm" name="asm">
                     <option></option>
                     {{#with company}} {{#each company.asm}}
                     <option value={{this}}>{{this}}</option>
                     {{/each}} {{/with}}
                  </select>
                  <br> Task:
                  <br>
                  <textarea id="task" name="task" placeholder="Task"></textarea>
                  <br>
               </div>
            </form>
            <div class="modal-footer">
               <a href="#" class="btn cancel">Cancel</a>
               <a href="#" class="btn btn-primary save">Save Task</a>
            </div>
         </div>
      </div>
   </div>
</template>

<template name="updateTaskDialog">
   <div class="modal" id="updateTaskDialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close cancel" data-dismiss="modal">&times;</button>
               <h2>Update Task</h2>
            </div>
            <div class="modal-body">
               {{#with getTaskID}}
               <h3>Task</h3>
               <b>time: {{time}}</b>
               <br>
               <b>ASM: {{asm}}</b>
               <br>
               <b>Task: {{task}}</b>
               <br>
               <b>Username: {{username}}</b>
               <br>
               <br> Status:
               <select id="status" name="status">
                  <option {{selected status "Started"}}>Started</option>
                  <option {{selected status "Hold"}}>Hold</option>
                  <option {{selected status "Completed"}}>Completed</option>
               </select>
               <br> Notes:
               <input type="text" id="notes" value={{notes}} />
               <br> Porter:
               <select id="porter" name="porter">
                  <option></option>
                  {{#with company}} {{#each company.porters}}
                  <option {{selected getCarID.porter this }}>{{this}}</option>
                  {{/each}} {{/with}}
               </select>
               <br> {{/with}}
            </div>
            <div class="modal-footer">
               <a href="#" class="btn cancel">Cancel</a>
               <a href="#" class="btn btn-primary save">Update Task</a>
            </div>
         </div>
      </div>
   </div>
</template>
